*{
    margin: 0;
}

html{
    background-color: #bbc1d1;
    height: 100vh;
    width: 100vh;
}
body{
    background-color: navy;
min-height: 50%;

}

h1{
    background: #dd9d9d;
    color: wheat;
    text-align:center;
    padding: 0px 15px;

}

input{ 
    border-radius: 5px;
    font-size: 1.2em;
    width: 90%;
    max-width: 90%;

}

.topo>section{
    width: 100%;
    height: 5em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

}

header,main,div{
    background-color: white;
}

p{
    text-align: center;
}